html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
}

body {
	color: #222;
	font-size: 16px;
	line-height: 22px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Arial, 'san serif';
	background: #2F336A;
}

img {
	border: 0px;
}

p {
	display: block;
	font-size: 1em;
	margin: 1em 0px;
	padding: 0px;
}

a, a:active, a:link, a:visited {
	text-decoration: none;
	color: #132DE5;
}

a:hover {
	text-decoration: underline;
}

button, input[type="submit"] {
	cursor: pointer;
	border-radius: 10px;
	border: 0px;
	transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -webkit-transition: background .15s ease-in-out;
}

button:focus, input[type="submit"]:focus {
	border: none;
	outline:none;
}

.invisible {
	display: none;
	visibility: hidden;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

#header {
	top: 0;
	position: fixed;
	width: 100%;
	background: #050D45;
	height: 50px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 5%;
	color: #fff;
	line-height: 50px;
}

#header h1 {
	font-weight: normal;
	display: block;
	height: 50px;
	float: left;
	color: #fff;
	font-family: Allerta;
	text-transform: lowercase;
	margin: 0;
	padding: 0;
	font-size: 25px;
	letter-spacing: 0.5px;
}

#header h1 strong {
	font-weight: bold;
}

#header a, #header a:active, #header a:link, #header a:visited {
	text-decoration: none;
	color: #fff;
	text-shadow: none;
	outline: 0 none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
}

#header a:hover {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	text-decoration: none;
	-moz-animation-name: glowpulse;
	-webkit-animation-name: glowpulse;
	animation-name: glowpulse;
	-moz-animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	text-shadow: -1px 1px 8px #ECEB72, 1px -1px 8px #fff;
}

#container {
	margin-top: 50px;
}

.container {
	width: 100%;
	margin: auto;
}

.clearfix {
	height: 1px;
	float: left;
	clear: both;
}
